.BodyContainer {
    background-color: #f7f7f7;
    margin:1em
}

.BodyButton {
    position: fixed;
    margin: 2em;
    bottom: 5%;
    right: 5%;
    animation: back-to-docs 1.5s ease-in-out infinite; z-index: 6;
    background-color:blue
}



